.sponsors {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.sponsor {
  padding: 1rem;
  --ring-color: rgb(17 24 39 / 0.05);
  border-radius: 0.5rem;
  box-shadow: 2 2 2 black;
  width: 15%;
  object-fit: contain;
  transition-duration: 0.3s;
  display: flex;
  align-items: center;

  img {
    transition: filter 0.3s ease;
  }
}

.sponsor:hover {
  background-color: lightgray;

  img {
    filter: brightness(83%); /* darken the image */
  }
}

.intro-img {
    padding: 3px;
    border-radius: 25px;
}

.intro-content {
    @media (min-width: 768px) {
      padding-right: 30px;
    }
}

.btn-content {
  display: flex;
  justify-content: center;
  @media (min-width: 768px) {
    justify-content: flex-start;
    padding-right: 30px;
  }
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media (min-width: 768px) {
      flex-direction: row;
    }
}

h2 {
    margin-top: 50px;
    margin-bottom: 10px;
    font-size: 40px;
}
/* CSS */
.intro-btn {
  appearance: none;
  background-color: transparent;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #3B3B3B;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 20px;
  font-weight: 600;
  line-height: normal;
  min-height: 70px;
  max-width: 200px;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
  margin: 5px;
  margin-bottom: 16px;
}

.intro-btn:disabled {
  pointer-events: none;
}

.intro-btn:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.intro-btn:active {
  box-shadow: none;
  transform: translateY(0);
}

section {
  justify-content: center;
  display: flex;
  flex-direction: row;
  padding: 1.25rem;
  border-radius: 10px;
  align-items: stretch;
  transition-duration: 0.3s;
  padding: 0px 20px;

  img {
    width: 30%;
    height: 100%;
    border-radius: 1rem;
    object-fit: contain;
  }

  .section-content {
    flex: 1; 
    min-width: 50%;
    text-decoration: none;
    padding: 0px 20px;
  }
}

section.right {
    flex-direction: row-reverse;
}

section.link:hover {
  background-color: lightgray;
}

a.section-link {
    text-decoration: none;
    margin: 0px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
}

.officer-card {
  border-width: 2px;
  border-color: gray;
  border-style: solid;
  width: 20%;
  margin: 1em;
  padding: 0.5em;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    margin: 0px;
    width: 100%;
    aspect-ratio: 3 / 4;
    border-radius: 5px;
    object-fit: cover;
  }

  h4 {
    margin-bottom: 0px;
  }

  p {
    font-style: italic;
  }
}

@media (max-width: 768px) {
  section {
    flex-direction: column !important;
    align-items: center;

    img {
      width: 100%;
      height: auto;
    }
  }

  .section-content {
    width: 100%;
  }

  .officer-card {
    width: 100% !important;
  }

  .sponsor {
    width: 30%;
  }
}