.intro {
  margin-bottom: 20px;
  h1 {
    font-size: 40px;
    line-height: 56px;
    margin-top: 0;
    margin-bottom: 30px;
    @include breakpoint('small') {
      width: 80%;
      font-size: 65px;
      line-height: 94px;
      margin-bottom: 30px;
    }
    strong {
      color: var(--highlight-color);
    }
  }
  h2 {
    font-size: 30px;
    line-height: 56px;
    @include breakpoint('small') {
      width: 80%;
    }
  }
  p {
    font-size: 20px;
    line-height: 26px;
    @include breakpoint('small') {
      font-size: 20px;
      line-height: 32px;
    }
  }
  .read-more {
    font-size: 20px;
    line-height: 26px;
    font-weight: bold;
    @include breakpoint('small') {
      font-size: 20px;
      line-height: 32px;
    }
  }
  // img {
  //   max-width: 100%;
  // }
  // img {
  //   margin-right: -30px;
  //   width: 100vw;
  //   vertical-align: bottom;
  //   @include breakpoint('small') {
  //     margin-left: -100px;
  //     margin-right: -100px;
  //     margin-bottom: 50px;
  //     width: auto;
  //   }
  // }

  ul {
    list-style: disc;
  }
}