<div class="summary">
  <h2 class="summary-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
  
  {{ if .Site.Params.showAuthorOnPosts }}
    {{ $authData := .Site.Data.author }}
    {{ $cxt := . }}
    {{ $authors := slice }}
    {{ $ena :=  .Site.Params.showAuthorOnPosts }}

    {{ if (isset .Params "author" )}}
      {{ $authors = $authors | append .Params.author }}
    {{ end }}
    {{ if (isset .Params "authors" )}}
      {{ $authors = $authors | append .Params.authors }}
    {{ end }}
    {{ partial "authors.html" (dict "context" $cxt "authors" $authors "authData" $authData "ena" $ena) }} 
  {{ end }}

  <p class="summary-description">{{ .Params.description }}</p>
</div>
