<div class="sponsors">
  {{ range .Site.Data.sponsors }}
    <a class="sponsor" href="{{ .link }}"><img src="/images/current-sponsors/{{ .image }}" /></a>
  {{ end }}
  <!-- 
            past sponsors

            <img class="sponsor" src="/images/sponsors/sdsc.png" />
            <img class="sponsor" src="/images/sponsors/ucsd.png" />
            <img class="sponsor" src="/images/sponsors/AMD.png" />
            <img class="sponsor" src="/images/sponsors/ads.png" />
            <img class="sponsor" src="/images/sponsors/gigabyte.png" />
            <img class="sponsor" src="/images/sponsors/icc-usa.png" />
            <img class="sponsor" src="/images/sponsors/IEEE.png" />
            <img class="sponsor" src="/images/sponsors/liqid.png" />
            <img class="sponsor" src="/images/sponsors/intel.png" />
            <img class="sponsor" src="/images/sponsors/micas.svg" />
            <img class="sponsor" src="/images/sponsors/aeon.png" />
            <img class="sponsor" src="/images/sponsors/dell.png" />
            <img class="sponsor" src="/images/sponsors/hpe.png" />
            <img class="sponsor" src="/images/sponsors/broadcom.svg" /> {{/*
            <img class="sponsor" src="/images/sponsors/broadcom.svg" /> */}}
            <img class="sponsor" src="/images/sponsors/pivotal-optics.png" />
            <img class="sponsor" src="/images/sponsors/cloudbank.png" />
            <img class="sponsor" src="/images/sponsors/nvidia.png" />
            <img class="sponsor" src="/images/sponsors/microsoft.png" />
            <img class="sponsor" src="/images/sponsors/ddn.jpg" />
            <img class="sponsor" src="/images/sponsors/supermicro.png" />
            <img class="sponsor" src="/images/sponsors/graid.png" />
            <img class="sponsor" src="/images/sponsors/liqid.svg" /> 
          -->
</div>
