<div class="sponsors">
  <img class="sponsor" src="/images/current-sponsors/AMD.svg" />
  <img class="sponsor" src="/images/current-sponsors/Applied DataSystems.svg" />
  <img class="sponsor" src="/images/current-sponsors/CIQ.svg" />
  <img class="sponsor" src="/images/current-sponsors/CSE_dept.svg" />
  <img class="sponsor" src="/images/current-sponsors/gigabyte.svg" />
  <img class="sponsor" src="/images/current-sponsors/hewlett_packard.svg" />
  <img class="sponsor" src="/images/current-sponsors/icc.svg" />
  <img class="sponsor" src="/images/current-sponsors/NetApp.svg" />
  <img class="sponsor" src="/images/current-sponsors/neuvys.svg" />
  <img class="sponsor" src="/images/current-sponsors/pillsbury.svg" />
  <img class="sponsor" src="/images/current-sponsors/SDSC.svg" />
  <img class="sponsor" src="/images/current-sponsors/ucsd-seal.svg" />
  <img class="sponsor" src="/images/current-sponsors/WHPC.svg" />
  <!-- 
            past sponsors

            <img class="sponsor" src="/images/sponsors/sdsc.png" />
            <img class="sponsor" src="/images/sponsors/ucsd.png" />
            <img class="sponsor" src="/images/sponsors/AMD.png" />
            <img class="sponsor" src="/images/sponsors/ads.png" />
            <img class="sponsor" src="/images/sponsors/gigabyte.png" />
            <img class="sponsor" src="/images/sponsors/icc-usa.png" />
            <img class="sponsor" src="/images/sponsors/IEEE.png" />
            <img class="sponsor" src="/images/sponsors/liqid.png" />
            <img class="sponsor" src="/images/sponsors/intel.png" />
            <img class="sponsor" src="/images/sponsors/micas.svg" />
            <img class="sponsor" src="/images/sponsors/aeon.png" />
            <img class="sponsor" src="/images/sponsors/dell.png" />
            <img class="sponsor" src="/images/sponsors/hpe.png" />
            <img class="sponsor" src="/images/sponsors/broadcom.svg" /> {{/*
            <img class="sponsor" src="/images/sponsors/broadcom.svg" /> */}}
            <img class="sponsor" src="/images/sponsors/pivotal-optics.png" />
            <img class="sponsor" src="/images/sponsors/cloudbank.png" />
            <img class="sponsor" src="/images/sponsors/nvidia.png" />
            <img class="sponsor" src="/images/sponsors/microsoft.png" />
            <img class="sponsor" src="/images/sponsors/ddn.jpg" />
            <img class="sponsor" src="/images/sponsors/supermicro.png" />
            <img class="sponsor" src="/images/sponsors/graid.png" />
            <img class="sponsor" src="/images/sponsors/liqid.svg" /> 
          -->
</div>
